.country-listing {
  border-radius: 0.25rem;
}

.country-listing h4 {
  background-color: rgb(86, 86, 86);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: .5rem 0.75rem;
}

.country-listing ol,
.country-listing li {
  margin: 0;
  padding: 0;
}

.country-listing ol {
  background: rgb(255, 255, 255);
  display: block;
  margin: 0 0 1rem 0;
}

.country-listing ol > li {
  border-color: rgb(186, 186, 186);
  border-style: solid;
  border-width: 0 1px 1px 1px;
  display: flex;
  align-items: center;
}

.country-listing ol li a,
.country-listing ol li span {
  display: block;
  padding: 0.5rem 1rem;
}

.country-listing .code {
  flex: 0 1 10%;
}
.country-listing .name {
  flex: 1;
}

.country-listing .location {
  flex: 0 1 25%;
}
