.screen {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: fit-content(3rem, 5rem) auto auto;
  grid-template-areas:
    'hd hd hd hd hd hd hd hd hd hd hd hd'
    'sb sb sb ct ct ct ct ct ct ct ct ct'
    'ft ft ft ft ft ft ft ft ft ft ft ft';
  width: 100%;

  .screen-header {
    margin: 1rem;
    grid-area: hd;

    h2 {
      margin: 0;
      padding: 0;
    }
  }

  .screen-header,
  .screen-sidebar,
  .screen-content,
  .screen-footer {
    border: 1px dashed rgb(127,127,127);
    margin: 1rem;
    padding: 1rem;
  }

  .screen-sidebar {
    grid-area: sb;
    margin-top: 0;
    margin-right: 0;
    min-height: 60ch;
  }

  .screen-content {
    grid-area: ct;
    margin-top: 0;
  }

  .screen-footer {
    grid-area: ft;
    margin-top: 0;
  }

  .screen-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}