.airport-listing {
  border-radius: 0.25rem;
}

.airport-listing h4 {
  background-color: rgb(86, 86, 86);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: .5rem 0.75rem;
}

.airport-listing ol,
.airport-listing li {
  margin: 0;
  padding: 0;
}

.airport-listing ol {
  background: rgb(255, 255, 255);
  display: block;
  margin: 0 0 1rem 0;
}

.airport-listing ol > li {
  border-color: rgb(186, 186, 186);
  border-style: solid;
  border-width: 0 1px 1px 1px;
}

.airport-listing header,
.airport-listing ol li {
  display: flex;
  align-items: center;
}

.airport-listing header span,
.airport-listing ol li a,
.airport-listing ol li span {
  display: block;
  padding: 0.5rem 1rem;
}

.airport-listing header .code {
  flex: 0 1 10%;
}
.airport-listing header .name {
  flex: 1;
}

.airport-listing header .location {
  flex: 0 1 25%;
}
